@model GeochemicalAssessmentModel

@{
    ViewBag.TabId = 7;
    ViewBag.SubTabId = 2;
    ViewBag.Title = "Экологическое состояние - Геохимическая оценка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="view-geochemical-assessment">
    <div id="mapModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="mapModalLabel" class="text-center">Карта педогеохимического районирования РБ</h3>
        </div>
        <div class="modal-body">
            <img src="@Url.Content("~/Content/images/home/map1.png")" alt="Карта педогеохимического районирования РБ"/>
        </div>
        @*
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Закрыть</button>
        </div>
        *@
    </div>
    <div>
        @Html.DropDownListFor(m => m.RegionId, Model.Regions)<br />
        <a href="#mapModal" role="button" class="btn btn-link" data-toggle="modal">Карта педогеохимического районирования РБ</a>
        <div class="grid-container"></div>
        <div>
            <span>Zc = <span class="index-label">1</span></span><br />
            <span>Нормированный = <span class="ball-label">1</span></span><br />
            <div class="progress">
                <div class="bar btn-success" style="width: 20%"></div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        window.geochemicalAssessmentView = new GeochemicalAssessmentView({
            fetchUrl: '@Url.Action("GeochemicalAssessmentGrid", "Ecological")',
            normalizing: [
                { min: -1e15, max: 10, value: 1, color: "success" },
                { min: 10, max: 20, value: 2, color: "warning" },
                { min: 20, max: 30, value: 3, color: "warning" },
                { min: 40, max: 70, value: 4, color: "warning" },
                { min: 70, max: 1e+15, value: 5, color: "danger" }
            ]
        });
    </script>
}
