@model IEnumerable<EcologicalModel>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Микроэлементы</th>
            <th>Фоновое содержание<br />
                мг/кг сухого вещества</th>
            <th>Содержание в пробе<br />
                мг/кг сухого вещества</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td class="value1">@item.Value</td>
                <td class="value2">
                    <div class="control-group">
                        <input type="text" value="0" />
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
