@model EcologicalViewModel

@{
    ViewBag.TabId = 7;
    ViewBag.SubTabId = 3;
    ViewBag.Title = "Экологическое состояние - Гидробиологическая оценка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var random = new Random();
}

<div id="view-ecological-assessment">
    <div id="s-assessment" calculate="simple">
        <div class="assessment row-fluid">
            <div class="span6 element-container">
                <div class="caption">
                    <h4>Водные растения</h4>
                </div>
                <div class="element-container-placeholder">
                    @{
                        var culture = CultureInfo.CreateSpecificCulture("Ru-ru");
                        foreach (var item in Model.DataSets[0])
                        {
                        <div class="alert alert-info control-group item">
                            <span class="name1">@item.Name</span>
                            <span class="value" style="display: none;">@item.Value.ToString(culture.NumberFormat)</span><br />
                            <span class="name2">@item.AlterName</span>
                        </div>
                        }
                    }
                </div>
            </div>
            <div class="span6 element-calculator">
                <div class="caption">
                    <h4>S (индекс сапробности Пантле-Букка в модификации Сладечка) 
                        <a href="#modal-info"  data-toggle="modal"><li class="icon-question-sign"></li></a></h4>
                </div>
                <div class="element-calculator-placeholder">
                </div>
                <div class="modal-footer row-fluid">
                    <div class="span6">
                        <span>S = <span class="index-label">0</span></span><br />
                        <span>Нормированный балл = <span class="ball-label">1</span></span>
                        <div class="progress progress-success">
                            <div class="bar" style="width: 20%"></div>
                        </div>
                    </div>
                    <div class="span6">
                        <button type="button" class="btn btn-small btn-danger btn-clear">Очистить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal hide fade" id="modal-info" tabindex="-1" role="dialog" aria-labelledby="modal-info-label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="modal-info-label">Обилие</h3>
        </div>
        <div class="modal-body">
            <img src="@Url.Content("~/Content/images/s-info.png")"/>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>  
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        window.sAssessmentView = new EcologicalAssessmentView({
            el: $('#s-assessment'),
            normalizing: [
                { min: -1e15, max: 1, value: 1, color: "success" },
                { min: 1, max: 1.5, value: 2, color: "warning" },
                { min: 1.5, max: 3.5, value: 3, color: "warning" },
                { min: 3.5, max: 4, value: 4, color: "warning" },
                { min: 4, max: 1e+15, value: 5, color: "danger" }
            ]
        });
    </script>
}
