@{
    ViewBag.Title = "Главная";
    ViewBag.TabId = 1;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .jumbotron {
        background-image: url("@Url.Content("~/Content/images/Strusta_Lake_-_Panorama.png")");
        background-position: center center;
        background-repeat: no-repeat;
        -moz-background-size: 100%;
        -webkit-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        height: 600px;
        margin: auto;
    }
    .adress-bar {
        margin-top: 350px;
    }
</style>
<div class="jumbotron">
    <div class="container-fluid well span5 offset7 adress-bar">
        <div class="row-fluid">
            <div class="span12 text-right">
                <h1><a href="http://geo.bsu.by/index.php/departments/lakelab.html">НИЛ озероведения</a></h1>
                <address>
                    г. Минск, ул. Ленинградская, 16<br />
                    тел. <a href="callto:+375172095057">+375 17 209-52-57</a><br />
                    факс <a href="callto:+375172095015">+375 17 209-50-15</a><br />
                    e-mail: <a href="mailto:geo@bsu.by">geo@bsu.by</a><br />
                    разработка сайта: <a href="mailto:pavel.zaitsau@hotmail.com">Павел С. Зайцев</a>
                </address>
            </div>
        </div>
    </div>
</div>
