#metodology-view {
    p {
        text-align: justify;
        text-indent: 50px;
    }

    .image-container {
        text-align: center;

        p {
            text-align: center;

            b {
                font-weight: bold;
            }
        }
    }
}
